*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.main-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.first-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background:url("../assets/images/bg/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.middle{
    padding-top: 150px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.5rem;
    padding-top: 300px;
    margin-left: 100px;
}
.middle p{
    font-size: 18px;
    text-align: justify;
}
.middle h1 span{
    color: #5cc0af;
    font-size: 50px;
}
.right img{
   width: 600px;
    height: auto;
}

.middle h1{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 0, 0);

}
.btn-container{
    display: flex;
    justify-content: flex-start;
}
.btnLogin{
    text-align: center;
    flex-grow: 1;
    width: 180px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    letter-spacing: 2px;
    background-color:#5cc0af;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.btnLogin:hover{
    color: white;
    background-color: rgb(107, 201, 172);
}

#btn1{
    position: absolute;
    margin: 10px ;
    bottom: 0;
    border: none;
    background: transparent;
    transition: transform 0.3s ease;
}
#btn1:hover {
    transform: scale(1.2);
  }
  #btn2:hover {
    transform: scale(1.2);
  }
 #btn3:hover {
    transform: scale(1.2);
  }
.first-page-icon{
    width: 30px;
    height: 50px;
    color: rgb(110, 180, 110);
}
.second-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: rgb(209, 203, 203); */
    background:url("../assets/images/bg/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;

}
.second-container h1{
    font-size: 50px;
    font-weight: bolder;
    color: #5cc0af;
}
.second-container p{
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    word-spacing: 4px;
    letter-spacing: 2px;
    text-align: justify;
}
.about{
    padding: 100px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #c9e8e2;    
    border-radius: 20px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
#btn2{
    position: absolute;
    bottom: 0;
    margin: 10px ;
    border: none;
    background: transparent;
    transition: transform 0.3s ease;
}
.third-container{
    height: 100vh;
    background-color: yellow;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#btn3{
    position: absolute;
    bottom: 0;
    margin: 10px;
    border: none;
    background: transparent;
    transition: transform 0.3s ease;
}
.hidden1{
    display: none;
    transform: translateY(100%);
}
.hidden2{
    display: none;
    transform: translateY(100%);
}
.transition {
    transition: transform 0.5s ease-in-out;
}
@media screen and (max-width: 1280px){
    
    .first-container{
        flex-direction: column;
        height: 100vh;
        justify-content:center;
        background-position: bottom;
        background: #d9ece8;
    }
    .second-container{
    background: #d9ece8;
    transition: none;

    }
  
    .second-container h1{
        font-size: 30px;
    }
    .second-container p{
        font-size: 14px;
    }
    .about{
        max-width: 400px;
        padding: 20px;
    }
 
    .middle h1{
        font-size: 30px;
        letter-spacing: 6px;
    }
    .middle h1 span{
        font-size: 35px;
    }
    .middle{
        gap: 1rem;
        order: 2;
        padding-top: 0;
        margin: 0 auto;
        text-align: center;
    }

    .middle p{
        font-size: 14px;
        padding: 0 20px 20px 20px;
        max-width: 400px;
        margin: 0 auto;
        text-justify: inter-word ;
    }
    .btn-container{
        flex-direction: column;
        margin: 0 auto;
    }
    .btnLogin, .btnContactAdmin{
        width: 170px;
        font-size: 16px;
    }
  
    .right{
        order: 1;
    }
    .right img{
        width: 300px;
    }
  
    #btn1{
        bottom: 15px;
    }
    #btn2{
        bottom: 15px;
    }
    #btn3{
        bottom: 15px;

    }
}