/* .loader-overlay1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #494a52ea;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  } */

  .loader1 {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50%;
    top: 395px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  .loader1:before,
  .loader1:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader1:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #5cc0af;
    margin-bottom: 10px;
  }
  .loader1:after {
    animation: ball2 1s infinite;
    background-color: #5cc0af;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #5cc0af;
    }
    50% {
      box-shadow: 0 0 0 #5cc0af;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #5cc0af;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  
  